<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{sitefullname}}</title>
</head>

<body bgcolor="#f4f4f4" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0"
      style="-webkit-font-smoothing: antialiased;width:100% !important;background:#f4f4f4;-webkit-text-size-adjust:none;">

<br>

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f4f4f4">
    <tbody>
    <tr>
        <td></td>

        <td style="width: 100%;max-width: 600px; display: block !important;margin: 0 auto !important;clear: both !important;background: #fff;">
            <div style="margin: 0 auto;display: block;padding:20px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td style="font-size: 14px; text-align: center; padding: 0 0 20px;">
                            <img src="https://evokenet.org/evoke/pluginfile.php/1/theme_moove/logo/1677900354/evoke.png" alt="{{sitefullname}}" style="max-width: 60%">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td style="padding: 0 0 20px;">
                            {{{content}}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td style="font-size: 14px; padding: 0 0 20px;">
                            <hr style="border: 1px solid #f4f4f4;">
                            <br>

                            <b>About {{sitefullname}}</b>

                            <p>An award-winning educational experience that uses project-based learning, game mechanics, graphic novel content and storytelling designed to engage young people and inspire them to solve global challenges while developing 21st Century skills.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td style="width: 100%;max-width: 600px; display: block !important; margin: 0 auto !important;clear: both !important;">
            <div style="margin: 0 auto;display: block;padding:20px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td style="font-size: 14px; text-align: center; padding: 0 0 20px; color: #999;">
                            <p>Copyright © {{year}} {{sitefullname}}, All rights reserved.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>